package components

templ Home() {
	@layout("Home") {
		<div data-testid="homeTemplate">Welcome to guillocut.</div>
		<div>
			<button onclick="location.href='/login'">Please login</button>
		</div>
	}
}
